@tailwind base;
  @tailwind components;
  @tailwind utilities;

.svg, .svg2{
  width: 100%;
  height: 100%;
  mask-image: url(/svgImg.svg);
  mask-size: 0%;
  mask-repeat: no-repeat;
  mask-position: center ;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.img{
  width: 100%;
  height: 100%;
  background-image: url(/swiggy.png);
  background-position: center;
  background-size: 130%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}



.img2{
  width: 100%;
  height: 100%;
  background-image: url(/portfolio.png);
  background-size: 130%;
  background-position: center;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}




.scroll-img{
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}


.font{
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
